header {
   background-color: $color-black-2;
   .navbar-brand {
      max-width: 40px;
   }
   .navbar-nav {
      .nav-item {
         padding: 0 20px;
         .nav-link {
            text-align: center;
            text-decoration: none;
            @include styleText($fs-4, $fw-1, $color-grey-1);
         }
         .select-bar {
            cursor: pointer;
            @include styleText($fs-3, $fw-1, $color-grey-1);
            background: $color-black-2;
            border: none;
            width: 100%;
            height: 100%;
            text-align: center !important;
         }
      }
   }
   .navbar-toggler {
      background: $color-white;
      display: flex;
      padding: $pd-2 $pd-4;
      flex-direction: column;
      .navbar-toggler-icon {
         background: $color-black-2;
         height: 2px;
         width: 20px;
         margin: 2px 0;
      }
   }
   .navbar {
      .form-inline {
         input {
            border: none;
         }
         button {
            &:hover {
               i {
                  color: $color-black;
               }
            }
            i {
               position: relative;
               z-index: 2;
               color: $color-white;
            }
         }
      }
   }
}
@include responsive("medium") {
   header {
      .navbar-nav {
         .nav-item {
            .select-bar {
               margin-left: 45%;
               width: 50%;
               height: 100%;
               text-align: center;
            }
         }
      }
   }
}
@include responsive("small") {
   header {
      .navbar-nav {
         .nav-item {
            .select-bar {
               margin-left: 40%;
               width: 50%;
               height: 100%;
               text-align: center;
            }
         }
      }
   }
}
