.btn-spreadOut {
   position: relative;
   @include styleBtn(none, none, 5px, $pd-5, $pd-2);
   &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: scaleX(0.3);
      opacity: 0;
      transition: all 0.3s;
      border-radius: 5px;
      border: 1px solid transparent;
   }
   &:hover::before {
      opacity: 1;
      background-color: $color-white;
      transform: scaleX(1);
      transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
      border-color: white;
   }
}

.btn-white {
   transition: all 0.3s;
   @include styleBtn($color-white, 1px solid $color-black-2, 5px, 0.75rem, 0.375rem);
   &:hover {
      background: $color-black-2;
      color: $color-grey-2;
   }
}

.btn-black {
   transition: all 0.3s;
   color: $color-white;
   @include styleBtn($color-black-2, 1px solid $color-grey-1, 5px, 0.75rem, 0.375rem);
   &:hover {
      border: 1px solid $color-black-2;
      background: $color-white;
      color: $color-black-2;
   }
}

.btn-red {
   font-size: $fs-5;
   opacity: 0.7;
   color: red;
   transition: all 0.3s;
   @include styleBtn(none, none, 5px, 0, 0);
   &:hover {
      color: red;
      opacity: 1;
   }
}
